<%= form_with scope: :session, url: login_path, class: 'form_login', remote: true do |f| %>
  <%= render 'above' %>
  
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <div class="inputGroup inputGroup1">
    <%= f.label :email, id: 'loginEmailLabel', for: 'loginEmail' %>
    <%= f.text_field :email, id: 'loginEmail'%>
    <p class="helper helper1">email@gmail.com</p>
  </div>
  <div class="inputGroup inputGroup2">
    <%= f.label :password, id: 'loginPasswordLabel', for: 'loginPassword' %>
    <%= f.password_field :password, id: 'loginPassword'%>
    <label id="showPasswordToggle" for="showPasswordCheck">Show
      <input id="showPasswordCheck" type="checkbox" />
      <div class="indicator"></div>
    </label>
  </div>
  <div class="inputGroup inputGroup3">
    <%= f.button 'Log in', id: 'login' %>
    <%= link_to "Sign Up", signup_path, style: 'text-decoration:none;color:#fff', class: 'signup' %>
  </div>

<% end %>


<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>
<%# <%= javascript_include_tag "login" %> %>

