<div class="main">
  <div class="w1400" style="padding:20px 0">
    <div style="flex:1">
      <div class="logo" style='padding:20px'>
        <%= image_tag('logo.png', width: '50px', style: 'object-fit:cover') %>
      </div>
    </div>

      <div class="post" style="flex: 4;position: relative;right: 280px;">
        <div class="post_item">
          <div class="post_top">
              <div style="display:flex;align-items:center">
                <div class="post_top-img">
                    <img src="https://newsmd2fr.keeng.net/tiin/archive/images/20210906/090009_154013_untitled_3.jpg" style="object-fit:cover"/>
                </div>
                <div class="post_top-name">
                  <h3 style="display:flex;align-items:center;font-size:1rem">
                  <%= link_to login_path, style: 'color:#fff;text-decoration:none' do %>
                    Quynh Bui
                  <% end %>
                    <%= image_tag('correct.png', width: '18px', style: 'margin-left:6px') %>
                  </h3>
                </div>
                <div class="post_top-nickname">
                  <h4 style="font-size:1rem">@quynh</h4>
                </div>
              </div>
          </div> 

          <div class="title-time" style="color: #71767B;margin-top: 10px;">
            24 hours ago.
          </div>

          <div class="post_title">
            <h2 style="font-size:1rem;margin:10px 0">vợ ải vợ aiii 😍</h2>
          </div>

            <div class="post_image">
              <img src="https://static2.yan.vn/YanNews/2167221/202107/tieusuquynhalee4-086bedbd.jpg" />
            </div>

          <div class="footer">
            <div class="cmt">
                <%= link_to login_path, style: 'text-decoration:none;color:#fff' do %>
                  <i class='bx bx-chat' ></i>
                <% end %>
                  <div class="circle_count">1,5k</div>
            </div>
            <div class="share"><i class='bx bx-share' ></i></div>
            <div class="cmt-like" style="display:flex;flex-direction:column;align-items:center">
              <svg aria-label="like" class="_ab6- post-like" color="#ed4956" fill="#ccc" height="24" role="img" viewBox="0 0 48 48" width="24"><path d="M34.6 3.1c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5s1.1-.2 1.6-.5c1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z"></path></svg>
              <div class="like" id="" style="position: relative;top: 4px;color:#ccc">
                3,9k
              </div>
            </div>
          </div>
        </div>    
        <div class="post_item">
          <div class="post_top">
              <div style="display:flex;align-items:center">
                <div class="post_top-img">
                    <img src="https://scontent.fsgn2-8.fna.fbcdn.net/v/t39.30808-6/323633867_1852035298491110_356832312916830156_n.jpg?_nc_cat=1&ccb=1-7&_nc_sid=730e14&_nc_ohc=sqzTgfAaQ34AX-J6zWK&_nc_ht=scontent.fsgn2-8.fna&oh=00_AfDPCOCA_Q65C-I7zkRFup_M0n-wz8aAMRb8Hqv4HgKjLw&oe=63C0B463" style="object-fit:cover"/>
                </div>
                <div class="post_top-name">
                  <h3 style="display:flex;align-items:center;font-size:1rem">
                  <%= link_to login_path, style: 'color:#fff;text-decoration:none' do %>
                    Le Thi Khanh Huyen
                  <% end %>
                    <%= image_tag('correct.png', width: '18px', style: 'margin-left:6px') %>
                  </h3>
                </div>
                <div class="post_top-nickname">
                  <h4 style='font-size:1rem'>@huyen</h4>
                </div>
              </div>
          </div> 

          <div class="title-time" style="color: #71767B;margin-top: 10px;">
            12 mins ago.
          </div>

          <div class="post_title">
            <h2 style='font-size:1rem;margin:10px 0'>Cute girl</h2>
          </div>

            <div class="post_image">
              <img src="https://scontent.fsgn2-8.fna.fbcdn.net/v/t39.30808-6/323633867_1852035298491110_356832312916830156_n.jpg?_nc_cat=1&ccb=1-7&_nc_sid=730e14&_nc_ohc=sqzTgfAaQ34AX-J6zWK&_nc_ht=scontent.fsgn2-8.fna&oh=00_AfDPCOCA_Q65C-I7zkRFup_M0n-wz8aAMRb8Hqv4HgKjLw&oe=63C0B463" />
            </div>

          <div class="footer">
            <div class="cmt">
                <%= link_to login_path, style: 'text-decoration:none;color:#fff' do %>
                  <i class='bx bx-chat' ></i>
                <% end %>
                  <div class="circle_count">2k</div>
            </div>
            <div class="share"><i class='bx bx-share' ></i></div>
            <div class="cmt-like" style="display:flex;flex-direction:column;align-items:center">
              <svg aria-label="like" class="_ab6- post-like" color="#ed4956" fill="#ccc" height="24" role="img" viewBox="0 0 48 48" width="24"><path d="M34.6 3.1c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5s1.1-.2 1.6-.5c1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z"></path></svg>
              <div class="like" id="" style="position: relative;top: 4px;color:#ccc">
                1,8k
              </div>
            </div>
          </div>
        </div>    

        <div class="post_item">
          <div class="post_top">
              <div style="display:flex;align-items:center">
                <div class="post_top-img">
                    <img src="https://scontent.fsgn2-5.fna.fbcdn.net/v/t39.30808-6/322964071_1227215544566257_8068440268138202753_n.png?_nc_cat=104&ccb=1-7&_nc_sid=730e14&_nc_ohc=__0OtktpshwAX87mY97&_nc_ht=scontent.fsgn2-5.fna&oh=00_AfDgOok51FlD32jJSoxOWxD36Nly6RskxLBQSDpB49MT-w&oe=63BF52D1" style="object-fit:cover"/>
                </div>
                <div class="post_top-name">
                  <h3 style="display:flex;align-items:center;font-size:1rem">
                  <%= link_to login_path, style: 'color:#fff;text-decoration:none' do %>
                    Quynh Bui
                  <% end %>
                    <%= image_tag('correct.png', width: '18px', style: 'margin-left:6px') %>
                  </h3>
                </div>
                <div class="post_top-nickname">
                  <h4 style='font-size:1rem'>@quynh</h4>
                </div>
              </div>
          </div> 

          <div class="title-time" style="color: #71767B;margin-top: 10px;">
            24 hours ago.
          </div>

          <div class="post_title">
            <h2 style='font-size:1rem;margin:10px 0'>Xoài chín</h2>
          </div>

            <div class="post_image">
              <img src="https://scontent.fsgn2-7.fna.fbcdn.net/v/t39.30808-6/323642013_1117641795620449_2850435291935544168_n.png?_nc_cat=111&ccb=1-7&_nc_sid=730e14&_nc_ohc=Pa-USp1asg4AX89MTYF&_nc_ht=scontent.fsgn2-7.fna&oh=00_AfB-4jNJSkgd6C0mL_zz_SKxuvLtUEsBwJ9pqDJBcpz9ug&oe=63BFF590" />
            </div>

          <div class="footer">
            <div class="cmt">
                <%= link_to login_path, style: 'text-decoration:none;color:#fff' do %>
                  <i class='bx bx-chat' ></i>
                <% end %>
                  <div class="circle_count">4k</div>
            </div>
            <div class="share"><i class='bx bx-share' ></i></div>
            <div class="cmt-like" style="display:flex;flex-direction:column;align-items:center">
              <svg aria-label="like" class="_ab6- post-like" color="#ed4956" fill="#ccc" height="24" role="img" viewBox="0 0 48 48" width="24"><path d="M34.6 3.1c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5s1.1-.2 1.6-.5c1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z"></path></svg>
              <div class="like" id="" style="position: relative;top: 4px;color:#ccc">
                2,8k
              </div>
            </div>
          </div>
        </div> 

        <div class="post_item">
          <div class="post_top">
              <div style="display:flex;align-items:center">
                <div class="post_top-img">
                    <img src="https://scontent.fsgn2-7.fna.fbcdn.net/v/t39.30808-6/323630535_867268464608050_7653572425184966104_n.png?_nc_cat=100&ccb=1-7&_nc_sid=730e14&_nc_ohc=3_x9oJx5K_kAX_FHjOD&tn=wGmLWV8mlhXtpIhE&_nc_ht=scontent.fsgn2-7.fna&oh=00_AfCAR9-C528u3hG-tk-CIawZ-bfvI2RiYA-kJZU14FPeeA&oe=63C0127D" style="object-fit:cover"/>
                </div>
                <div class="post_top-name">
                  <h3 style="display:flex;align-items:center;font-size:1rem">
                  <%= link_to login_path, style: 'color:#fff;text-decoration:none' do %>
                    Bui Gia Quynh
                  <% end %>
                    <%= image_tag('correct.png', width: '18px', style: 'margin-left:6px') %>
                  </h3>
                </div>
                <div class="post_top-nickname">
                  <h4 style='font-size:1rem'>@Gquynh</h4>
                </div>
              </div>
          </div> 

          <div class="title-time" style="color: #71767B;margin-top: 10px;">
            24 hours ago.
          </div>

          <div class="post_title">
            <h2 style='font-size:1rem;margin:10px 0'>Muốn ngày nào cũng là noel 🥹</h2>
          </div>

            <div class="post_image">
              <img src="https://scontent.fsgn2-7.fna.fbcdn.net/v/t39.30808-6/323630535_867268464608050_7653572425184966104_n.png?_nc_cat=100&ccb=1-7&_nc_sid=730e14&_nc_ohc=3_x9oJx5K_kAX_FHjOD&tn=wGmLWV8mlhXtpIhE&_nc_ht=scontent.fsgn2-7.fna&oh=00_AfCAR9-C528u3hG-tk-CIawZ-bfvI2RiYA-kJZU14FPeeA&oe=63C0127D" />
            </div>

          <div class="footer">
            <div class="cmt">
                <%= link_to login_path, style: 'text-decoration:none;color:#fff' do %>
                  <i class='bx bx-chat' ></i>
                <% end %>
                  <div class="circle_count">4,2k</div>
            </div>
            <div class="share"><i class='bx bx-share' ></i></div>
            <div class="cmt-like" style="display:flex;flex-direction:column;align-items:center">
              <svg aria-label="like" class="_ab6- post-like" color="#ed4956" fill="#ccc" height="24" role="img" viewBox="0 0 48 48" width="24"><path d="M34.6 3.1c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5s1.1-.2 1.6-.5c1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z"></path></svg>
              <div class="like" id="" style="position: relative;top: 4px;color:#ccc">
                3,2k
              </div>
            </div>
          </div>
        </div> 

        <div class="post_item">
          <div class="post_top">
              <div style="display:flex;align-items:center">
                <div class="post_top-img">
                    <img src="https://scontent.fsgn2-4.fna.fbcdn.net/v/t39.30808-6/322317982_1306631113214277_5569839426997009978_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=730e14&_nc_ohc=7N9xKAEGq7QAX8MuqTy&_nc_ht=scontent.fsgn2-4.fna&oh=00_AfBGeuuOdvJfzIrCWVxnQODnZn7dO-sC57dbNkW9pl0bZw&oe=63BF5831" style="object-fit:cover"/>
                </div>
                <div class="post_top-name">
                  <h3 style="display:flex;align-items:center;font-size:1rem">
                  <%= link_to login_path, style: 'color:#fff;text-decoration:none' do %>
                    Hien nguyen
                  <% end %>
                    <%= image_tag('correct.png', width: '18px', style: 'margin-left:6px') %>
                  </h3>
                </div>
                <div class="post_top-nickname">
                  <h4 style='font-size:1rem'>@Hien</h4>
                </div>
              </div>
          </div> 

          <div class="title-time" style="color: #71767B;margin-top: 10px;">
            24 hours ago.
          </div>

          <div class="post_title">
            <h2 style='font-size:1rem;margin:10px 0'>Mèo xinh 🥰</h2>
          </div>

            <div class="post_image">
              <img src="https://scontent.fsgn2-3.fna.fbcdn.net/v/t39.30808-6/322105422_762320575342496_5685518760439067609_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=730e14&_nc_ohc=aJ7SRNK0-jQAX_GyioW&_nc_ht=scontent.fsgn2-3.fna&oh=00_AfDi2agXCNrD964PI-xA0fbAlpK0CNODoOyv9Ma6qlawqw&oe=63BFBAE1" />
            </div>

          <div class="footer">
            <div class="cmt">
                <%= link_to login_path, style: 'text-decoration:none;color:#fff' do %>
                  <i class='bx bx-chat' ></i>
                <% end %>
                  <div class="circle_count">8k</div>
            </div>
            <div class="share"><i class='bx bx-share' ></i></div>
            <div class="cmt-like" style="display:flex;flex-direction:column;align-items:center">
              <svg aria-label="like" class="_ab6- post-like" color="#ed4956" fill="#ccc" height="24" role="img" viewBox="0 0 48 48" width="24"><path d="M34.6 3.1c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5s1.1-.2 1.6-.5c1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z"></path></svg>
              <div class="like" id="" style="position: relative;top: 4px;color:#ccc">
                3,2k
              </div>
            </div>
          </div>
        </div> 

        <div class="post_item">
          <div class="post_top">
              <div style="display:flex;align-items:center">
                <div class="post_top-img">
                    <img src="https://scontent.fsgn2-5.fna.fbcdn.net/v/t39.30808-6/322162809_552168920108387_1644207982812761396_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=730e14&_nc_ohc=Hg24ZzuTOVwAX9v-1hU&_nc_oc=AQntenU2lQH_JqyENPxQKxpI5ct7nlMnzHmSCJqXXAtoogd1hYm9j6Ud_Mr4zuPmJNnRCzIjf4d9gAg6NSyKNIC7&_nc_ht=scontent.fsgn2-5.fna&oh=00_AfCrQqbNRafWQe4ulSub9wdvMMC6znicBH-BLctv0HUbbA&oe=63C09185" style="object-fit:cover"/>
                </div>
                <div class="post_top-name">
                  <h3 style="display:flex;align-items:center;font-size:1rem">
                  <%= link_to login_path, style: 'color:#fff;text-decoration:none' do %>
                    Dieu Nhi
                  <% end %>
                    <%= image_tag('correct.png', width: '18px', style: 'margin-left:6px') %>
                  </h3>
                </div>
                <div class="post_top-nickname">
                  <h4 style='font-size:1rem'>@Nhi</h4>
                </div>
              </div>
          </div> 

          <div class="title-time" style="color: #71767B;margin-top: 10px;">
            24 hours ago.
          </div>

          <div class="post_title">
            <h2 style='font-size:1rem;margin:10px 0'>Dáng xinh </h2>
          </div>

            <div class="post_image">
              <img src="https://scontent.fsgn2-5.fna.fbcdn.net/v/t39.30808-6/322162809_552168920108387_1644207982812761396_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=730e14&_nc_ohc=Hg24ZzuTOVwAX9v-1hU&_nc_oc=AQntenU2lQH_JqyENPxQKxpI5ct7nlMnzHmSCJqXXAtoogd1hYm9j6Ud_Mr4zuPmJNnRCzIjf4d9gAg6NSyKNIC7&_nc_ht=scontent.fsgn2-5.fna&oh=00_AfCrQqbNRafWQe4ulSub9wdvMMC6znicBH-BLctv0HUbbA&oe=63C09185" />
            </div>

          <div class="footer">
            <div class="cmt">
                <%= link_to login_path, style: 'text-decoration:none;color:#fff' do %>
                  <i class='bx bx-chat' ></i>
                <% end %>
                  <div class="circle_count">10k</div>
            </div>
            <div class="share"><i class='bx bx-share' ></i></div>
            <div class="cmt-like" style="display:flex;flex-direction:column;align-items:center">
              <svg aria-label="like" class="_ab6- post-like" color="#ed4956" fill="#ccc" height="24" role="img" viewBox="0 0 48 48" width="24"><path d="M34.6 3.1c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5s1.1-.2 1.6-.5c1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z"></path></svg>
              <div class="like" id="" style="position: relative;top: 4px;color:#ccc">
                5,8k
              </div>
            </div>
          </div>
        </div> 
      </div>

    <div style="flex:2;position:fixed;right:280px">
      <h1 style="display:inline-block;font-size:8rem;font-weight:900;margin:0;color:rgb(29, 155, 240);font-family: Arial">D</h1>
      <p style="display:inline-block;font-size:2rem;font-weight:700;margin:0;color:rgb(29, 155, 240);position:relative;left: -12px;font-family: Arial">o you want see more ?</p>
  
      <p style='color:rgb(29, 155, 240);font-size:1.4rem;font-weight:500;margin-bottom:40px'>Please Sign in or Sign up:</p>
      
      <%= link_to login_path, style: 'color:#fff;text-decoration:none' do %>
        <div style="display:flex;justify-content:center;align-items:center;background-color:rgb(29, 155, 240);width:100%;height:50px;border-radius:20px;cursor:pointer;font-weight:900">
          Sign in
        </div>
      <% end %>
      <%= link_to signup_path, style: 'color:#fff;text-decoration:none' do %>
        <div style="display:flex;justify-content:center;align-items:center;background-color:red;width:100%;height:50px;border-radius:20px;cursor:pointer;margin-top:20px;font-weight:900">
          Sign up
        </div>
      <% end %>
    </div>
  </div>
</div>