<div class="left">
      <div class="logo">
        <%= image_tag('logo.png', width: '50px', style: 'object-fit:cover') %>
      </div>
      <ul class="left_list">
        <li>
          <i class='bx bx-home-circle'></i>
          <%= link_to "Home", dashboard_path, style: 'text-decoration:none;color:#fff' %>
        </li>
        <li>
          <i class='bx bx-toggle-right'></i>
          Explore
        </li>
        <li>
          <i class='bx bx-bell' style="position:relative"></i>
          <% if @activities.present? %>
            <div style="position:absolute;width: 20px;height: 20px;background-color: red;font-size: 0.9rem;display: flex;align-items: center;justify-content: center;border-radius: 50%;top: 222px;left: 20px;"><%= @activities.count %></div>
          <% end %>
          <label for="navbar" style="position:relative;outline:none;cursor:pointer;user-select:none">Notifications</label>

          <input type="checkbox" id="navbar" class="nv" hidden/>
          <ul class="render_notify" style='padding:20px 0'>
            <div style="padding: 0 20px;margin-bottom: 20px;display:flex;justify-content: space-between;align-items:center">
              <div>notification</div>
              <% if @activities.present? %>
                <%= link_to 'Delete All', destroy_all_notify_posts_path, method: :delete, data: { confirm: 'Are you sure?' }, style: 'color:#fff;font-size:1.2rem' %>
              <% end %>
            </div>
            <%= render @activities %>
          </ul>
        </li>
        <li>
          <i class='bx bx-message-rounded' ></i>
          <%= link_to "Message", rooms_path, style: 'text-decoration:none;color:#fff' %>
        </li>
        <li>
          <i class='bx bx-bookmarks' ></i>
          Bookmarks
        </li>
        <li>
          <i class='bx bx-user' ></i>
          <%= link_to "Profile", user_path(current_user), style: 'text-decoration:none;color:#fff' %>
        </li>
        <li>
          <i class='bx bx-user-circle'></i>
          <%= link_to "People", users_path, style: 'text-decoration:none;color:#fff' %>
        </li>
      </ul>

      <label for="ip-logout" style="display: flex;align-items: center;top: 130px;position: relative;padding: 10px;cursor:pointer;border-radius:14px">
        <div style="display: flex;align-items: center;">
          <% if current_user.image.present? %>
            <%= image_tag url_for(current_user.image), style: 'width: 40px;height:40px;border-radius:50%;object-fit:cover'%>
          <% else %>
            <img src="https://static.vecteezy.com/system/resources/thumbnails/009/292/244/small/default-avatar-icon-of-social-media-user-vector.jpg" width='40px' style='border-radius:50%'/>
          <% end %>
        </div>
        <div style="margin-left: 10px;">
          <p style="margin: 0"><%= current_user.name %></p>
          <p style="margin: 0"><%= current_user.nickname %></p>
        </div>
      </label>

      <input type="checkbox" hidden id="ip-logout" class="ip"/>

      <div class="h4_logout" style="position: absolute;border: 1px solid #ccc;border-radius: 14px;left: 54px;display:none">
        <%= link_to "Logout", logout_path %>
      </div>
    </div>
