<%= form_with model: @post, class: 'right_form' do |f| %>
  <div class="right_form-img" style="display: flex;align-items: center;background-size: cover;">
    <div class="img_item">
      <% if current_user.image.present? %>
        <%= image_tag url_for(current_user.image), style: 'object-fit:cover'%>
      <% else %>
        <img src="https://static.vecteezy.com/system/resources/thumbnails/009/292/244/small/default-avatar-icon-of-social-media-user-vector.jpg" />
      <% end %>
    </div>
      <%= f.text_field :content, class: 'inp_text',id: 'inp_text_post', placeholder: 'What do you think ?' %>
  </div>
  <div class="button">
    <div class="label" style="display: flex;align-items: center;">
      <label for="inp_img" class="label"><i class='bx bxs-image-add' ></i></label>
      <label id="remove" for="" class="label"><i class='bx bx-x' style="font-size:2rem"></i></label>
      <%= f.file_field :image, id: 'inp_img', hidden: true %>
    </div>
      <button class="btn" id='btn_post' disabled>POST</button>
  </div>
  <div style="margin-top:20px">
    <img id="output" style='width:100%' src=''/>
  </div>
<% end %>
<%= javascript_import_module_tag  'image_preview'%>
<%= javascript_import_module_tag  'disabled_btn'%>
