<style>
  .more{
    position: relative;
  }
  .more_list-<%= post.id %>{
    z-index: 999999;
    position: absolute;
    display: none;
  }
  .m_ip-<%= post.id %>:checked ~ .more_list-<%= post.id %>{
    display: block;
    z-index: 999999;
    animation: more ease-in .1s;
  }
  .ipc-<%= post.id %>:checked ~ .modal_cmt-<%= post.id %>{
    display: block;
  }
  .edit_block-<%= post.id %>{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(91, 112, 131, 0.4);
    display: none;
  }
  .edit_block_item-<%= post.id %>{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .edit_block_item-<%= post.id %> form{
    width: 800px;
    background-color: black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
  }
  .ed-<%= post.id %>:checked ~ .edit_block-<%= post.id %>{
    display: block;
    animation: showForm ease-in .1s
  }
</style>
<div class="post">
  <div class="post_item">
    <div class="post_top">
        <div style="display:flex;align-items:center">
          <div class="post_top-img">
            <% if post.user.image.present? %>
              <%= image_tag(post.user.image, style: 'object-fit: cover;') %>
            <% else %>
              <img src="https://static.vecteezy.com/system/resources/thumbnails/009/292/244/small/default-avatar-icon-of-social-media-user-vector.jpg" />
            <% end %>
          </div>
          <div class="post_top-name">
            <h3 style="display:flex;align-items:center">
            <%= link_to user_path(post.user), style: 'color:#fff;text-decoration:none' do %>
              <%= post.user.name %>
            <% end %>
              <%= image_tag('correct.png', width: '18px', style: 'margin-left:6px') %>
            </h3>
          </div>
          <div class="post_top-nickname">
            <h4><%= post.user.nickname %></h4>
          </div>
        </div>
        <% if current_user?(post.user) || current_user.isAdmin? %>
        <label for="more_ip-<%= post.id %>" class="more">
          <i class='bx bx-dots-horizontal-rounded'></i>
          <input type="checkbox" id="more_ip-<%= post.id %>" class="m_ip-<%= post.id %>" hidden />

          <ul class="more_list-<%= post.id %>" style="right: 0;width: 100px;margin: 0;padding: 20px;list-style: none;box-shadow: rgb(38 57 77) 0px 20px 30px -10px;border-radius: 20px">
            <li style="display: flex;align-items: center;cursor: pointer;margin: 10px 0">
              <i class='bx bx-message-square-x' style="margin-right: 10px"></i>
              <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' }, style: 'text-decoration:none;color:#fff' %>
            </li>

          <% if current_user?(post.user) %>
            <li style="display: flex;align-items: center;cursor: pointer;margin: 10px 0">
              <i class='bx bx-message-alt-edit' style="margin-right: 10px"></i>
                <label for="edit-<%= post.id %>" style="cursor:pointer">
                  Edit
                </label>

              <input type="checkbox" id="edit-<%= post.id %>" class="ed-<%= post.id %>" hidden/>

              <div class="edit_block-<%= post.id %>">
                <div class="edit_block_item-<%= post.id %>">
                  <%= form_with model: post, local: true do |f| %>
                    <div style="display: flex;justify-content: center;align-items:center;width: 100%;margin-right:10px">
                      <% if post.user.image.present? %>
                        <%= image_tag(post.user.image, style: 'width:40px;height:40px;border-radius:50%') %>
                      <% else %>
                        <img src="https://static.vecteezy.com/system/resources/thumbnails/009/292/244/small/default-avatar-icon-of-social-media-user-vector.jpg", style='width:40px;height:40px;border-radius:50%' />
                      <% end %>
                      <%= f.text_field :content, style:"width: 80%;height: 50px;padding: 0 10px;background: none;border: none;outline: none;color: #ccc;font-size: 1.6rem;" %>
                    </div>
                    <% if post.image.present? %>
                      <div style="display: flex;justify-content: center;margin-top: 20px;">
                        <%= image_tag(post.image, style: 'width:70%') %>
                      </div>
                    <% end %>
                    <label for="img_more" style="position: absolute;top: 48%;left: 48%;"><i class='bx bx-image-add' style="font-size: 4rem;cursor: pointer;"></i></label>
                    <%= f.file_field :image, hidden: true, style: "width: 80%;border-radius: 10px;", id: 'img_more'%>
                    <div style="width: 100%;display:flex;justify-content:center">
                      <%= f.submit "Update", style:"width:120px;height:70px;border:1px solid rgb(29, 155, 240);background:none;color:rgb(29, 155, 240);margin-top:20px;border-radius:20px;cursor:pointer" %>
                    </div>
                  <% end %>
                </div>
              </div>
            </li>
          <% end %>
          </ul>
        </label>
        <% end %>

    </div> 

    <div class="title-time" style="color: #71767B;margin-top: 10px;">
      <%= time_ago_in_words(post.created_at) %> ago.
    </div>

    <div class="post_title">
      <h2><%= post.content %></h2>
    </div>

    <% if post.image.present? %>
      <div class="post_image">
        <%= image_tag(post.image) %>
      </div>
    <% end %>

    <div class="footer">
      <div class="cmt">
          <%= link_to post_path(post), style: 'text-decoration:none;color:#fff' do %>
            <i class='bx bx-chat' ></i>
          <% end %>
          <% if post.comments.present? %>
            <div class="circle_count"><%= post.comments.count %></div>
          <% end %>
      </div>
      <div class="share"><i class='bx bx-share' ></i></div>
      <div class="cmt-like" style="display:flex;flex-direction:column;align-items:center">
        <svg aria-label="like" class="_ab6- like-<%= post.id %> <%= 'active' if post_like_by_user?(post.id) %> post-like" data-id="<%= post.id %>" color="#ed4956" fill="#ccc" height="24" role="img" viewBox="0 0 48 48" width="24"><path d="M34.6 3.1c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5s1.1-.2 1.6-.5c1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z"></path></svg>
        <%# <i class='bx bx-heart' ></i> %>
        <div class="like" id="post-<%= post.id %>-likes-2" style="position: relative;top: 4px;color:#ccc">
          <%= post.likes.count %>
        </div>
      </div>
    </div>
  </div>    
</div>
<%= javascript_import_module_tag  'like_ajax'%>
